@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: cornflowerblue;
  font-family: "Roboto Condensed", serif;
}
#card {
  height: 400px;
  width: 320px;
  background: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}
#card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
#card h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
  margin-top: 18px;
}
#card h5 {
  font-size: 18px;
  color: red;
  margin: 20px;
}
#card button {
  padding: 10px 15px;
  font-weight: 700;
  color: white;
  background: cadetblue;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
